# Rust
target/
**/*.rs.bk
Cargo.lock

# Node
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
dist/
build/
.anchor/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
